div,
input,
textarea {
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin headerFont() {
  width: auto;
  margin: auto 3vw;
  font-size: 21px;
  font-weight: 700;
}

.header {
  background: grey;
  width: 100vw;
  height: 8vh;

  display: flex;
  justify-content: space-between;

  position: fixed;

  padding: 0 2%;
}

.header-logo {
  @include headerFont;
}

.header-items {
  display: flex;
}

.header-item {
  @include headerFont;

  display: flex;
  place-items: center;
}

.body {
  height: 200vh;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

#page1 {
  background: red;
}
#page2 {
  background: green;
}
#page3 {
  background: blue;
}
