@import "mixin";

.slide_item.item1 {
  background: linear-gradient(to bottom, #fee300, #7a5c3b, #fee300);
  //   background: linear-gradient(to bottom, #7a5c3b, #fee300, #7a5c3b);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.pc-img {
  @include page2_img();
}

.pc-info {
  @include page2_info();
}

.tool {
  @include page2_info_tool();
}

.pc-info-btn {
  margin-top: 5%;
  span {
    border: 3.5px solid rgb(255, 255, 255);
    box-shadow: 1.5px 1.5px 0px #000000, 1.5px 1.5px 0px #000000,
      1.5px 1.5px 0px #000000;
    padding: 1% 2%;
    margin-right: 2%;
    border-radius: 15px;
    width: auto;
    white-space: nowrap;
    font-size: 30px;
  }
}
